html {
  font: 400 10px/1 sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, pre, blockquote, code, tt, input, textarea {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}
input, textarea {
  color: inherit;
  display: inherit;
  box-sizing: inherit;
  background: none;
  border: none;
  resize: none;
}

html {
  font-family: consolas, monospace, sans-serif; /* 'Avenir Next',  */
  color: #333;

  background-image: linear-gradient(#eee 0.5px, transparent 0.5px);
  background-size: 100% 22px;
}
body {
  font-size: 1.6rem;
  line-height: 2.2rem;
  
  padding: 8.8rem 0 0 0;
}
textarea {
  padding: 0.7rem 0 1.5rem 0;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 76rem; /* (35 * 1.6 + 10 * 2)rem */
  box-sizing: border-box;
  width: 100%;
  height: 0;
  outline-offset: 0;
}

@media (max-width: 560px) {
  body {
    padding-top: 2.2rem;
  }
  textarea {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


@font-face {
  font-family: 'consolas';
  font-style: normal;
  font-weight: 400;
  src: local(consolas), url(/fish/fonts/consolas.ttf) format('truetype');
}

@font-face {
  font-family: 'consolas';
  font-style: normal;
  font-weight: 600;
  src: local(consolas), url(/fish/fonts/consolas-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'consolas';
  font-style: italic;
  font-weight: 400;
  src: local(consolas), url(/fish/fonts/consolas-italic.ttf) format('truetype');
}

@font-face {
  font-family: 'consolas';
  font-style: italic;
  font-weight: 600;
  src: local(consolas), url(/fish/fonts/consolas-bold-italic.ttf) format('truetype');
}
