html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, input, button {
  font: 300 16px/22px helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  list-style: none;
  background: none;
}

body {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
}
body, body.light {
  --nav-bg-color: #F8F9FA;
  --nav-fg-color: rgba(0, 0, 0, 0.9);
  --main-bg-color: transparent;
  --main-fg-color: rgba(0, 0, 0, 0.9);
}
body.dark {
  --nav-bg-color: #343A40;
  --nav-fg-color: #fff;
}

nav {
  display: flex;
  background: #F8F9FA;
  background: var(--nav-bg-color);
  height: 63px;
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.9);
  color: var(--nav-fg-color);
  user-select: none;
}
nav h1 {
  line-height: 63px;
  font-size: 20px;
  font-weight: 400;
  margin-right: 15px;
}
nav div {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin: 0 15px;
}
nav .menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}
nav .menu ul li {
  line-height: 33px;
}
main {
  margin: auto;
  padding: 30px;
}

button {
  border: 1px solid #16A2B7;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 14px;
  background: #16A2B7;
  color: #fff;
  font-weight: 400;
}
button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22, 162, 183, 0.5);
}
