html {
  font-size: 16px;
  line-height: 1.375rem;
  font-family: "Source Sans Pro", helvetica, sans-serif;
  background-image: linear-gradient(#eee 0.5px, transparent 0.5px);
  background-size: 100% 0.6875rem; }
  html > body {
    margin: 0; }

article {
  margin: 3.0625rem auto 0;
  width: 35rem; }
  article > p {
    margin: 0 0 0.6875rem; }
  article > h1 {
    font-size: 37px;
    font-weight: 400;
    line-height: 2.75rem;
    margin: 2.0625rem 0 1.375rem;
    position: relative;
    top: 0.1875rem; }
  article > h2 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.0625rem;
    margin: 2.0625rem 0 0.6875rem;
    position: relative;
    top: 0.0625rem; }
    article > h2::before {
      content: '';
      display: block;
      margin-top: -1.75rem;
      padding-top: 1.75rem; }
    article > h2 > .anchor {
      outline: none; }
      article > h2 > .anchor::before {
        content: '#\00a0';
        display: block;
        float: left;
        width: 1.75rem;
        margin-left: -1.75rem;
        color: #000;
        margin-top: -1.75rem;
        padding-top: 1.75rem;
        opacity: 0;
        transition: opacity ease-in-out 0.25s;
        transition-delay: 0s; }
    article > h2:hover > .anchor::before {
      opacity: 1;
      will-change: opacity;
      transition-delay: 0.25s; }
    article > h2 > .anchor:target:focus::before {
      opacity: 1;
      transition-delay: 0.25s; }
    article > h2:hover > .anchor:target:focus::before {
      opacity: 1;
      transition-delay: 0s; }
  article > .code {
    margin: 1.0625rem 0 1rem;
    padding: 1rem 1.0625rem 1.0625rem;
    white-space: normal;
    background: #eee;
    background: rgba(0, 0, 0, .066666667); }
    article > .code > code {
      font-family: consolas, monospace;
      position: relative;
      top: 0.0625rem; }
      article > .code > code > p {
        margin: 0; }
        article > .code > code > p::before {
          content: '$ '; }
